body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #12f219bd;
    border-radius: 7px;
}

h1 {
    text-align: center;
}

.forms {
    padding: 5px;
    margin: 10px 0;
}

input, label {
    display: block;
}

input[type="text"],
 input[type="email"], 
 input[type="password"],
  input[type="date"], 
  sinput[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
    display: inline;
    margin: 0 5px;
}

input[type="submit"] {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}